# Flowise Integration
ALUDAAI_FLOWISE_HOST=https://flowise-eden.onrender.com
ALUDAAI_FLOWISE_CHATFLOW_ID=9a1520d5-52e3-4365-9c47-27c89f40ddeb
ALUDAAI_FLOWISE_CHATFLOW_ID_ALUDAA2=ed45f6f4-88bd-4f11-9fa5-019103b542d2
ALUDAAI_FLOWISE_API_KEY=
ALUDAAI_FLOWISE_MODE=api

# Database
ALUDAAI_DATABASE_URL="postgresql://username:password@host:port/database_name"

# Authentication
ALUDAAI_NEXTAUTH_SECRET=your-nextauth-secret-here
ALUDAAI_NEXTAUTH_URL=http://localhost:3000

# Google OAuth
ALUDAAI_GOOGLE_CLIENT_ID=your-google-client-id-here
ALUDAAI_GOOGLE_CLIENT_SECRET=your-google-client-secret-here

# Apple OAuth
ALUDAAI_APPLE_ID=your-apple-id-here
ALUDAAI_APPLE_SECRET=your-apple-secret-here
